In [1]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1 Loading the data
NB: the json need to be a list of json elements as dictionary. We need to add the **brackets []** and the **coma** to separate each element

In [2]:
with open("../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json") as json_file:
    data_business = json.load(json_file)

In [3]:
data_business[35]

{u'attributes': {u'Accepts Credit Cards': True,
  u'Alcohol': u'full_bar',
  u'Ambience': {u'casual': True,
   u'classy': False,
   u'divey': False,
   u'hipster': False,
   u'intimate': False,
   u'romantic': False,
   u'touristy': False,
   u'trendy': False,
   u'upscale': False},
  u'Attire': u'casual',
  u'BYOB': False,
  u'BYOB/Corkage': u'yes_free',
  u'Caters': False,
  u'Corkage': False,
  u'Delivery': False,
  u'Good For': {u'breakfast': False,
   u'brunch': False,
   u'dessert': False,
   u'dinner': False,
   u'latenight': True,
   u'lunch': False},
  u'Good For Groups': True,
  u'Good For Kids': False,
  u'Good for Kids': True,
  u'Has TV': True,
  u'Noise Level': u'very_loud',
  u'Outdoor Seating': False,
  u'Parking': {u'garage': False,
   u'lot': True,
   u'street': False,
   u'valet': False,
   u'validated': False},
  u'Price Range': 2,
  u'Take-out': True,
  u'Takes Reservations': True,
  u'Waiter Service': True,
  u'Wheelchair Accessible': True},
 u'business_id': u'sbW8qHJgzEIH42B0S-3New',
 u'categories': [u'Arts & Entertainment',
  u'American (Traditional)',
  u'Arcades',
  u'Restaurants'],
 u'city': u'Homestead',
 u'full_address': u'180 E Waterfront Dr\nHomestead\nHomestead, PA 15120',
 u'hours': {u'Friday': {u'close': u'02:00', u'open': u'11:30'},
  u'Monday': {u'close': u'00:00', u'open': u'11:30'},
  u'Saturday': {u'close': u'02:00', u'open': u'11:30'},
  u'Sunday': {u'close': u'00:00', u'open': u'11:30'},
  u'Thursday': {u'close': u'00:00', u'open': u'11:30'},
  u'Tuesday': {u'close': u'00:00', u'open': u'11:30'},
  u'Wednesday': {u'close': u'00:00', u'open': u'11:30'}},
 u'latitude': 40.4097113,
 u'longitude': -79.9140822,
 u'name': u"Dave & Buster's",
 u'neighborhoods': [u'Homestead'],
 u'open': True,
 u'review_count': 52,
 u'stars': 3.0,
 u'state': u'PA',
 u'type': u'business'}

Somes features need to be droped:
* 'full_address', 'city': the state and latitude/longitude already stand for the geographical position. Maybe the street could eb considered, but then will need to be convert...
* 'name': need to find how to use it (add features count to find a word realted to categories in the name?)
* 'type': stands for the data type (here it's business)

Somes features are droped but may be useful, we need to think about how to use them:
* 'attributes': issue is the unstructured nature
* 'hours': the checkin seems to be enough
* 'neighborhoods': many missing values in this column

In [9]:
business_list = []
    
for b in data_business:
    d = b.copy()
    
    # Dropping unconsidered features
    d.pop('hours')
    #d.pop('attributes')
    d.pop('neighborhoods')
    d.pop('type')
    d.pop('full_address')
    d.pop('name')
    #d.pop('city')
    
    
    business_list.append(d)
    
business=pd.DataFrame(business_list)
# Changing the index
business = business.set_index('business_id')

business.info

<bound method DataFrame.info of                                                                attributes  \
business_id
vcNAWiLM4dR7D2nwwJ7nCA                     {u'By Appointment Only': True}
UsFtqoBl7naz8AVUBZMjQQ  {u'Happy Hour': True, u'Accepts Credit Cards':...
cE27W9VPgO88Qxe4ol6y_g                           {u'Good for Kids': True}
HZdLhv6COCleJMo7nPl-RA                                                 {}
mVHrayjG3uZ_RLHkLj-AMg  {u'Alcohol': u'full_bar', u'Noise Level': u'av...
KayYbHCt-RkbGcPdGOThNg  {u'Alcohol': u'full_bar', u'Noise Level': u'lo...
b12U9TFESStdy7CsTtcOeg                                                 {}
Sktj1eHQFuVa-M4bgnEh8g                           {u'Good for Kids': True}
3ZVKmuK2l7uXPE6lXY4Dbg                                                 {}
wJr6kSA5dchdgOdwH6dZ2w  {u'Take-out': True, u'Drive-Thru': False, u'Ou...
yXuao0pFz1AxB21vJjDf5w  {u'Price Range': 3, u'Accepts Credit Cards': T...
fNGIbpazjTRdXgwRY_NIXA  {u'Alcohol': u'full_bar', u'Noise Level': u'av...
b9WZJp5L1RZr4F1nxclOoQ  {u'Alcohol': u'none', u'Noise Level': u'averag...
zaXDakTd3RXyOa7sMrUE1g  {u'Take-out': True, u'Price Range': 1, u'Outdo...
zgy27FSnvwdINfk5cXBIyQ  {u'Accepts Credit Cards': True, u'Wi-Fi': u'fr...
WETE_LykpcnrC1sFcQ5EGg  {u'Take-out': True, u'Price Range': 2, u'Outdo...
6o3RK6rTcN3nw-j-r2nQmA                                                 {}
woOVJ0Z2f6XNCDntHA3b_g                   {u'Accepts Credit Cards': False}
rv7CY8G_XibTx82YhuqQRw  {u'Take-out': True, u'Accepts Credit Cards': T...
e_U_FnpdKVgNb4mUN2cU_Q                     {u'By Appointment Only': True}
SQ0j7bgSTazkVQlF5AnqyQ  {u'Take-out': True, u'Alcohol': u'none', u'Noi...
wqu7ILomIOPSduRwoWp4AQ  {u'Take-out': True, u'Accepts Credit Cards': T...
1u2NauOy8xDj7aFQET680A                                                 {}
P1fJb2WQ1mXoiudj8UE44w  {u'Take-out': True, u'Accepts Credit Cards': T...
xxWFOD46ubTSF3nPRM19BA                     {u'By Appointment Only': True}
PK6aSizckHFWk8i0oxt5DA  {u'Take-out': True, u'Accepts Credit Cards': T...
sRqB6flj3GtTZIZJQxf_oA  {u'Attire': u'casual', u'Parking': {u'garage':...
3gmBc0qN_LtGbZAjTtHWZg  {u'Accepts Credit Cards': True, u'Price Range'...
yHTLTr-QN-loO_7XoxS8qg  {u'Accepts Credit Cards': True, u'Price Range'...
6ilJq_05xRgek_8qUp36-g  {u'Take-out': True, u'Accepts Credit Cards': T...
...                                                                   ...
y7G8BTjt3ajGRih3d8SBbQ                           {u'Good for Kids': True}
UTrs6gV6Y49JTMBif6ujqQ  {u'Price Range': 2, u'Accepts Credit Cards': T...
pesdw9r5ZaAIghcff4I0iw  {u'Take-out': False, u'Accepts Credit Cards': ...
AjZLGVy8GgpdCCXCtCXV_A  {u'Take-out': True, u'Drive-Thru': True, u'Alc...
9d9gHcDJ9NnNTjOCENv7Gw                                                 {}
EWdLB__imFSZ9v8EOJBqAQ  {u'Take-out': True, u'Accepts Credit Cards': T...
YHuuPfxEPRokVbf4wVUscg  {u'Accepts Credit Cards': True, u'Price Range'...
NETaLUX6PH9lxLCwzNgq1Q  {u'Take-out': True, u'Accepts Credit Cards': T...
EfMxJr-rWlXc7UlGkI0Y5w  {u'Drive-Thru': False, u'Alcohol': u'full_bar'...
AdEFp9zXwOO84mc1OC37aA  {u'Take-out': True, u'Accepts Credit Cards': T...
fPc8Zt3jw-XNriLpweadjQ  {u'Take-out': True, u'Good For': {u'dessert': ...
Zlv0RZR5cFS5NzeXteuUjg  {u'Take-out': True, u'Accepts Credit Cards': T...
BvbFnrg21OU2dULq3OlqcQ  {u'Take-out': True, u'Takes Reservations': Tru...
6xxvSaMu5Qh13ibAHYJI0A  {u'Hair Types Specialized In': {u'coloring': T...
F14WDg0i6yZwXbflJ8ndaw  {u'Take-out': True, u'Takes Reservations': Fal...
5jpV_QXxhfs8wHOXX3E_3w  {u'Take-out': True, u'Accepts Credit Cards': T...
m0yKevji9esIZdqmK3IVPQ  {u'Take-out': True, u'Accepts Credit Cards': T...
_L1SVry9jDzk6VLz75Z6Ow  {u'By Appointment Only': True, u'Accepts Credi...
bL_zVv5o7IbYhYjwaEBA3Q  {u'Take-out': True, u'Price Range': 2, u'Outdo...
4O9Du_JiAvz24b2VSOJNTA  {u'Take-out': True, u'Accepts Credit Cards': T...
RE7W4BFzPFdlsXmf0j-DVg                    {u'Accepts Credit Cards': True}
AG3jFaQcABSFF-ry3l5t5g  {u'Take-out': False, u'Price Range': 2, u'Outd...
4ryna74I1AH_8KHleBG0Ow                                                 {}
LT00Q44xHSFTs1wJPXeS2A  {u'Alcohol': u'full_bar', u'Noise Level': u'av...
qrgod2lrYnxHwNWC_YYTyQ  {u'Take-out': False, u'Accepts Credit Cards': ...
PfnfxJw6yD1hSItqHXyblg                           {u'Good for Kids': True}
peTlb_-tmNQTZ3fz3Elieg                                                 {}
7gmzKhAr6-A0DCGT4HN-ig  {u'Delivery': False, u'Accepts Credit Cards': ...
6TPxhpHqFedjMvBuw6pF3w                    {u'Accepts Credit Cards': True}
2EKGrbf2_81MrtjKZeOTng                                                 {}

                                                               categories  \
business_id
vcNAWiLM4dR7D2nwwJ7nCA                        [Doctors, Health & Medical]
UsFtqoBl7naz8AVUBZMjQQ                                        [Nightlife]
cE27W9VPgO88Qxe4ol6y_g                     [Active Life, Mini Golf, Golf]
HZdLhv6COCleJMo7nPl-RA  [Shopping, Home Services, Internet Service Pro...
mVHrayjG3uZ_RLHkLj-AMg  [Bars, American (New), Nightlife, Lounges, Res...
KayYbHCt-RkbGcPdGOThNg  [Bars, American (Traditional), Nightlife, Rest...
b12U9TFESStdy7CsTtcOeg                          [Auto Repair, Automotive]
Sktj1eHQFuVa-M4bgnEh8g                           [Active Life, Mini Golf]
3ZVKmuK2l7uXPE6lXY4Dbg                       [Home Services, Contractors]
wJr6kSA5dchdgOdwH6dZ2w  [Burgers, Breakfast & Brunch, American (Tradit...
yXuao0pFz1AxB21vJjDf5w                                    [Food, Grocery]
fNGIbpazjTRdXgwRY_NIXA  [Bars, American (Traditional), Nightlife, Loun...
b9WZJp5L1RZr4F1nxclOoQ                  [Breakfast & Brunch, Restaurants]
zaXDakTd3RXyOa7sMrUE1g                               [Cafes, Restaurants]
zgy27FSnvwdINfk5cXBIyQ  [Hotels & Travel, Event Planning & Services, H...
WETE_LykpcnrC1sFcQ5EGg        [Pubs, Irish, Nightlife, Bars, Restaurants]
6o3RK6rTcN3nw-j-r2nQmA                                                 []
woOVJ0Z2f6XNCDntHA3b_g             [Local Services, Sewing & Alterations]
rv7CY8G_XibTx82YhuqQRw                                      [Restaurants]
e_U_FnpdKVgNb4mUN2cU_Q    [Health & Medical, Dentists, General Dentistry]
SQ0j7bgSTazkVQlF5AnqyQ                             [Chinese, Restaurants]
wqu7ILomIOPSduRwoWp4AQ  [Breakfast & Brunch, American (Traditional), R...
1u2NauOy8xDj7aFQET680A  [Active Life, Gyms, Trainers, Fitness & Instru...
P1fJb2WQ1mXoiudj8UE44w                             [Restaurants, Italian]
xxWFOD46ubTSF3nPRM19BA  [Health & Medical, Periodontists, Dentists, Or...
PK6aSizckHFWk8i0oxt5DA                  [Burgers, Fast Food, Restaurants]
sRqB6flj3GtTZIZJQxf_oA                                      [Restaurants]
3gmBc0qN_LtGbZAjTtHWZg                               [Food, Coffee & Tea]
yHTLTr-QN-loO_7XoxS8qg  [Arts & Crafts, Shopping, Knitting Supplies, H...
6ilJq_05xRgek_8qUp36-g                  [Burgers, Fast Food, Restaurants]
...                                                                   ...
y7G8BTjt3ajGRih3d8SBbQ            [Arts & Entertainment, Performing Arts]
UTrs6gV6Y49JTMBif6ujqQ             [Health Markets, Food, Specialty Food]
pesdw9r5ZaAIghcff4I0iw                               [Food, Coffee & Tea]
AjZLGVy8GgpdCCXCtCXV_A     [Burgers, American (Traditional), Restaurants]
9d9gHcDJ9NnNTjOCENv7Gw                 [Marketing, Professional Services]
EWdLB__imFSZ9v8EOJBqAQ         [Bakeries, Food, Soup, Salad, Restaurants]
YHuuPfxEPRokVbf4wVUscg                                     [Food, Donuts]
NETaLUX6PH9lxLCwzNgq1Q                  [Sushi Bars, Diners, Restaurants]
EfMxJr-rWlXc7UlGkI0Y5w  [Bars, American (Traditional), Burgers, Nightl...
AdEFp9zXwOO84mc1OC37aA         [Steakhouses, American (New), Restaurants]
fPc8Zt3jw-XNriLpweadjQ                               [Greek, Restaurants]
Zlv0RZR5cFS5NzeXteuUjg                          [Sandwiches, Restaurants]
BvbFnrg21OU2dULq3OlqcQ           [Seafood, Dim Sum, Chinese, Restaurants]
6xxvSaMu5Qh13ibAHYJI0A  [Hair Salons, Beauty & Spas, Blow Dry/Out Serv...
F14WDg0i6yZwXbflJ8ndaw                               [Pizza, Restaurants]
5jpV_QXxhfs8wHOXX3E_3w      [Burgers, Fast Food, Sandwiches, Restaurants]
m0yKevji9esIZdqmK3IVPQ  [Lebanese, Mediterranean, Middle Eastern, Rest...
_L1SVry9jDzk6VLz75Z6Ow                       [Beauty & Spas, Nail Salons]
bL_zVv5o7IbYhYjwaEBA3Q  [Breakfast & Brunch, Bars, Nightlife, Restaura...
4O9Du_JiAvz24b2VSOJNTA                [Food, Ethnic Food, Specialty Food]
RE7W4BFzPFdlsXmf0j-DVg  [Local Services, Mobile Phone Repair, IT Servi...
AG3jFaQcABSFF-ry3l5t5g         [Breakfast & Brunch, Buffets, Restaurants]
4ryna74I1AH_8KHleBG0Ow                            [Movers, Home Services]
LT00Q44xHSFTs1wJPXeS2A     [Food, American (New), Breweries, Restaurants]
qrgod2lrYnxHwNWC_YYTyQ  [Seafood, American (New), Latin American, Rest...
PfnfxJw6yD1hSItqHXyblg                        [Yelp Events, Local Flavor]
peTlb_-tmNQTZ3fz3Elieg  [Home Services, Commercial Real Estate, Venues...
7gmzKhAr6-A0DCGT4HN-ig                         [Food, Desserts, Bakeries]
6TPxhpHqFedjMvBuw6pF3w           [Landscaping, Irrigation, Home Services]
2EKGrbf2_81MrtjKZeOTng                               [Food, Coffee & Tea]

                               city   latitude   longitude   open  \
business_id
vcNAWiLM4dR7D2nwwJ7nCA      Phoenix  33.499313 -111.983758   True
UsFtqoBl7naz8AVUBZMjQQ   Dravosburg  40.350519  -79.886930   True
cE27W9VPgO88Qxe4ol6y_g  Bethel Park  40.356896  -80.015910  False
HZdLhv6COCleJMo7nPl-RA   Pittsburgh  40.357620  -80.059980   True
mVHrayjG3uZ_RLHkLj-AMg     Braddock  40.408735  -79.866351   True
KayYbHCt-RkbGcPdGOThNg     Carnegie  40.415517  -80.067534   True
b12U9TFESStdy7CsTtcOeg     Carnegie  40.394588  -80.084454   True
Sktj1eHQFuVa-M4bgnEh8g     Carnegie  40.405404  -80.076267   True
3ZVKmuK2l7uXPE6lXY4Dbg     Carnegie  40.406324  -80.090357   True
wJr6kSA5dchdgOdwH6dZ2w     Carnegie  40.387732  -80.092874   True
yXuao0pFz1AxB21vJjDf5w     Carnegie  40.387732  -80.092874   True
fNGIbpazjTRdXgwRY_NIXA     Carnegie  40.396469  -80.084942   True
b9WZJp5L1RZr4F1nxclOoQ     Carnegie  40.396744  -80.084800   True
zaXDakTd3RXyOa7sMrUE1g     Carnegie  40.404638  -80.089985   True
zgy27FSnvwdINfk5cXBIyQ     Carnegie  40.417419  -80.088557   True
WETE_LykpcnrC1sFcQ5EGg     Carnegie  40.408670  -80.085279  False
6o3RK6rTcN3nw-j-r2nQmA     Carnegie  40.408568  -80.084992   True
woOVJ0Z2f6XNCDntHA3b_g     Carnegie  40.407889  -80.086060   True
rv7CY8G_XibTx82YhuqQRw     Carnegie  40.386891  -80.093704   True
e_U_FnpdKVgNb4mUN2cU_Q     Carnegie  40.390760  -80.078657   True
SQ0j7bgSTazkVQlF5AnqyQ     Carnegie  40.408343  -80.084861   True
wqu7ILomIOPSduRwoWp4AQ   Pittsburgh  40.391255  -80.073426   True
1u2NauOy8xDj7aFQET680A     Carnegie  40.394305  -80.060154   True
P1fJb2WQ1mXoiudj8UE44w     Carnegie  40.408257  -80.085458   True
xxWFOD46ubTSF3nPRM19BA   Pittsburgh  40.470457  -80.088959   True
PK6aSizckHFWk8i0oxt5DA    Homestead  40.412086  -79.910032   True
sRqB6flj3GtTZIZJQxf_oA    Homestead  40.411692  -79.912343   True
3gmBc0qN_LtGbZAjTtHWZg    Homestead  40.407091  -79.916958   True
yHTLTr-QN-loO_7XoxS8qg      Munhall  40.414064  -79.903778   True
6ilJq_05xRgek_8qUp36-g      Munhall  40.413496  -79.904456   True
...                             ...        ...         ...    ...
y7G8BTjt3ajGRih3d8SBbQ    Las Vegas  36.110775 -115.172186   True
UTrs6gV6Y49JTMBif6ujqQ    Las Vegas  36.159345 -115.350625   True
pesdw9r5ZaAIghcff4I0iw   Scottsdale  33.639958 -111.945244   True
AjZLGVy8GgpdCCXCtCXV_A    Las Vegas  36.100254 -115.225779   True
9d9gHcDJ9NnNTjOCENv7Gw      Phoenix  33.479952 -112.074518   True
EWdLB__imFSZ9v8EOJBqAQ      Phoenix  33.580500 -112.122366   True
YHuuPfxEPRokVbf4wVUscg    Las Vegas  36.099680 -115.298539   True
NETaLUX6PH9lxLCwzNgq1Q    Charlotte  35.340816  -80.769978   True
EfMxJr-rWlXc7UlGkI0Y5w  Sun Prairie  43.165879  -89.271359   True
AdEFp9zXwOO84mc1OC37aA    Las Vegas  36.117337 -115.171138   True
fPc8Zt3jw-XNriLpweadjQ     Glendale  33.534484 -112.261985   True
Zlv0RZR5cFS5NzeXteuUjg    Las Vegas  36.117724 -115.175836   True
BvbFnrg21OU2dULq3OlqcQ    Las Vegas  36.126671 -115.213592   True
6xxvSaMu5Qh13ibAHYJI0A   Scottsdale  33.481226 -111.935526   True
F14WDg0i6yZwXbflJ8ndaw    Las Vegas  36.117168 -115.177901   True
5jpV_QXxhfs8wHOXX3E_3w    Las Vegas  36.057182 -115.278528   True
m0yKevji9esIZdqmK3IVPQ    Henderson  36.005901 -115.111863   True
_L1SVry9jDzk6VLz75Z6Ow    Las Vegas  36.160643 -115.320685   True
bL_zVv5o7IbYhYjwaEBA3Q   Scottsdale  33.501281 -111.923295   True
4O9Du_JiAvz24b2VSOJNTA    Las Vegas  36.018420 -115.117977   True
RE7W4BFzPFdlsXmf0j-DVg        Tempe  33.417393 -111.910017   True
AG3jFaQcABSFF-ry3l5t5g    Las Vegas  36.098909 -115.175557   True
4ryna74I1AH_8KHleBG0Ow      Phoenix  33.635306 -112.031174   True
LT00Q44xHSFTs1wJPXeS2A   Scottsdale  33.582361 -111.892861   True
qrgod2lrYnxHwNWC_YYTyQ    Las Vegas  36.207485 -115.268203   True
PfnfxJw6yD1hSItqHXyblg      Madison  43.074278  -89.388344   True
peTlb_-tmNQTZ3fz3Elieg    Charlotte  35.352848  -80.840350   True
7gmzKhAr6-A0DCGT4HN-ig    Las Vegas  36.122690 -115.170194   True
6TPxhpHqFedjMvBuw6pF3w    Las Vegas  36.160072 -115.350056   True
2EKGrbf2_81MrtjKZeOTng    Karlsruhe  49.009268    8.409159  False

                        review_count  stars state
business_id
vcNAWiLM4dR7D2nwwJ7nCA             9    3.5    AZ
UsFtqoBl7naz8AVUBZMjQQ             4    3.5    PA
cE27W9VPgO88Qxe4ol6y_g             5    2.5    PA
HZdLhv6COCleJMo7nPl-RA             3    3.5    PA
mVHrayjG3uZ_RLHkLj-AMg            11    4.5    PA
KayYbHCt-RkbGcPdGOThNg            15    4.0    PA
b12U9TFESStdy7CsTtcOeg             5    1.5    PA
Sktj1eHQFuVa-M4bgnEh8g             4    4.0    PA
3ZVKmuK2l7uXPE6lXY4Dbg             3    2.5    PA
wJr6kSA5dchdgOdwH6dZ2w             8    3.5    PA
yXuao0pFz1AxB21vJjDf5w             3    3.5    PA
fNGIbpazjTRdXgwRY_NIXA             5    4.0    PA
b9WZJp5L1RZr4F1nxclOoQ            38    4.5    PA
zaXDakTd3RXyOa7sMrUE1g             5    4.0    PA
zgy27FSnvwdINfk5cXBIyQ             5    4.0    PA
WETE_LykpcnrC1sFcQ5EGg             6    3.5    PA
6o3RK6rTcN3nw-j-r2nQmA             4    2.5    PA
woOVJ0Z2f6XNCDntHA3b_g             5    5.0    PA
rv7CY8G_XibTx82YhuqQRw             3    3.5    PA
e_U_FnpdKVgNb4mUN2cU_Q             6    2.0    PA
SQ0j7bgSTazkVQlF5AnqyQ             8    2.5    PA
wqu7ILomIOPSduRwoWp4AQ             7    4.0    PA
1u2NauOy8xDj7aFQET680A             5    2.5    PA
P1fJb2WQ1mXoiudj8UE44w            46    3.5    PA
xxWFOD46ubTSF3nPRM19BA             3    1.0    PA
PK6aSizckHFWk8i0oxt5DA             5    2.0    PA
sRqB6flj3GtTZIZJQxf_oA             3    2.5    PA
3gmBc0qN_LtGbZAjTtHWZg            16    3.5    PA
yHTLTr-QN-loO_7XoxS8qg             8    3.0    PA
6ilJq_05xRgek_8qUp36-g            36    2.0    PA
...                              ...    ...   ...
y7G8BTjt3ajGRih3d8SBbQ             6    4.5    NV
UTrs6gV6Y49JTMBif6ujqQ             3    5.0    NV
pesdw9r5ZaAIghcff4I0iw             7    4.5    AZ
AjZLGVy8GgpdCCXCtCXV_A            11    2.5    NV
9d9gHcDJ9NnNTjOCENv7Gw             4    5.0    AZ
EWdLB__imFSZ9v8EOJBqAQ             9    3.5    AZ
YHuuPfxEPRokVbf4wVUscg            20    4.5    NV
NETaLUX6PH9lxLCwzNgq1Q             6    4.0    NC
EfMxJr-rWlXc7UlGkI0Y5w             9    2.5    WI
AdEFp9zXwOO84mc1OC37aA            26    4.5    NV
fPc8Zt3jw-XNriLpweadjQ             9    4.0    AZ
Zlv0RZR5cFS5NzeXteuUjg             7    3.5    NV
BvbFnrg21OU2dULq3OlqcQ             7    3.5    NV
6xxvSaMu5Qh13ibAHYJI0A             6    5.0    AZ
F14WDg0i6yZwXbflJ8ndaw             3    4.0    NV
5jpV_QXxhfs8wHOXX3E_3w            12    3.0    NV
m0yKevji9esIZdqmK3IVPQ             7    5.0    NV
_L1SVry9jDzk6VLz75Z6Ow             4    5.0    NV
bL_zVv5o7IbYhYjwaEBA3Q            13    3.0    AZ
4O9Du_JiAvz24b2VSOJNTA            11    4.0    NV
RE7W4BFzPFdlsXmf0j-DVg            11    5.0    AZ
AG3jFaQcABSFF-ry3l5t5g             8    3.0    NV
4ryna74I1AH_8KHleBG0Ow             4    3.5    AZ
LT00Q44xHSFTs1wJPXeS2A            29    4.5    AZ
qrgod2lrYnxHwNWC_YYTyQ            13    4.0    NV
PfnfxJw6yD1hSItqHXyblg            12    5.0    WI
peTlb_-tmNQTZ3fz3Elieg             4    5.0    NC
7gmzKhAr6-A0DCGT4HN-ig            21    4.0    NV
6TPxhpHqFedjMvBuw6pF3w            24    4.5    NV
2EKGrbf2_81MrtjKZeOTng             5    2.5    BW

[61184 rows x 9 columns]>

In [18]:
business[business['city'] == 'Seatle']

Empty DataFrame
Columns: [attributes, categories, city, latitude, longitude, open, review_count, stars, state]
Index: []

In [5]:
with open("../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_checkin.json") as json_file:
    data_checkin = json.load(json_file)

In [6]:
data_checkin[0]

{u'business_id': u'cE27W9VPgO88Qxe4ol6y_g',
 u'checkin_info': {u'10-0': 1,
  u'13-0': 1,
  u'13-3': 1,
  u'14-6': 1,
  u'17-3': 1,
  u'17-6': 1,
  u'18-4': 1,
  u'7-5': 1,
  u'9-5': 1},
 u'type': u'checkin'}

In [7]:
checkin_list = []

for c in data_checkin:
    d = {}
    d['business_id'] = c['business_id']
    for k,v in c['checkin_info'].iteritems():
        d[k] = v
    checkin_list.append(d)
    
checkin=pd.DataFrame(checkin_list)
checkin = checkin.set_index('business_id')

# Change Nan to 0 in the checking
checkin = checkin.fillna(0)

checkin.head(10)

,0-0,0-1,0-2,0-3,0-4,0-5,0-6,1-0,1-1,1-2,...,8-4,8-5,8-6,9-0,9-1,9-2,9-3,9-4,9-5,9-6
business_id,,,,,,,,,,,,,,,,,,,,,
cE27W9VPgO88Qxe4ol6y_g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
mVHrayjG3uZ_RLHkLj-AMg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
KayYbHCt-RkbGcPdGOThNg,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,3,0,0
wJr6kSA5dchdgOdwH6dZ2w,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
yXuao0pFz1AxB21vJjDf5w,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
fNGIbpazjTRdXgwRY_NIXA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
b9WZJp5L1RZr4F1nxclOoQ,0,0,0,0,0,0,0,0,0,0,...,2,3,4,2,3,1,2,4,4,1
zaXDakTd3RXyOa7sMrUE1g,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,0,0
zgy27FSnvwdINfk5cXBIyQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
WETE_LykpcnrC1sFcQ5EGg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# ## Joining the dataframes
business_df = business.merge(checkin, how='left', right_index=True, left_index=True)
business_df.head()

,attributes,categories,latitude,longitude,open,review_count,stars,state,0-0,0-1,...,8-4,8-5,8-6,9-0,9-1,9-2,9-3,9-4,9-5,9-6
business_id,,,,,,,,,,,,,,,,,,,,,
vcNAWiLM4dR7D2nwwJ7nCA,{u'By Appointment Only': True},"[Doctors, Health & Medical]",33.499313,-111.983758,True,9,3.5,AZ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UsFtqoBl7naz8AVUBZMjQQ,"{u'Happy Hour': True, u'Accepts Credit Cards':...",[Nightlife],40.350519,-79.886930,True,4,3.5,PA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cE27W9VPgO88Qxe4ol6y_g,{u'Good for Kids': True},"[Active Life, Mini Golf, Golf]",40.356896,-80.015910,False,5,2.5,PA,0,0,...,0,0,0,0,0,0,0,0,1,0
HZdLhv6COCleJMo7nPl-RA,{},"[Shopping, Home Services, Internet Service Pro...",40.357620,-80.059980,True,3,3.5,PA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mVHrayjG3uZ_RLHkLj-AMg,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...","[Bars, American (New), Nightlife, Lounges, Res...",40.408735,-79.866351,True,11,4.5,PA,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
# Droping the business with Nan values of checkin
business_df = business_df.dropna(how='any')

In [10]:
business_df.categories

business_id
cE27W9VPgO88Qxe4ol6y_g                       [Active Life, Mini Golf, Golf]
mVHrayjG3uZ_RLHkLj-AMg    [Bars, American (New), Nightlife, Lounges, Res...
KayYbHCt-RkbGcPdGOThNg    [Bars, American (Traditional), Nightlife, Rest...
wJr6kSA5dchdgOdwH6dZ2w    [Burgers, Breakfast & Brunch, American (Tradit...
yXuao0pFz1AxB21vJjDf5w                                      [Food, Grocery]
fNGIbpazjTRdXgwRY_NIXA    [Bars, American (Traditional), Nightlife, Loun...
b9WZJp5L1RZr4F1nxclOoQ                    [Breakfast & Brunch, Restaurants]
zaXDakTd3RXyOa7sMrUE1g                                 [Cafes, Restaurants]
zgy27FSnvwdINfk5cXBIyQ    [Hotels & Travel, Event Planning & Services, H...
WETE_LykpcnrC1sFcQ5EGg          [Pubs, Irish, Nightlife, Bars, Restaurants]
SQ0j7bgSTazkVQlF5AnqyQ                               [Chinese, Restaurants]
wqu7ILomIOPSduRwoWp4AQ    [Breakfast & Brunch, American (Traditional), R...
P1fJb2WQ1mXoiudj8UE44w                               [Restaurants, Italian]
PK6aSizckHFWk8i0oxt5DA                    [Burgers, Fast Food, Restaurants]
3gmBc0qN_LtGbZAjTtHWZg                                 [Food, Coffee & Tea]
yHTLTr-QN-loO_7XoxS8qg    [Arts & Crafts, Shopping, Knitting Supplies, H...
6ilJq_05xRgek_8qUp36-g                    [Burgers, Fast Food, Restaurants]
MKyk4F4HSzHF8v-4cYe3Ww                       [Bars, Nightlife, Restaurants]
gClSqcwuLsgyZRCzhJc7Dg    [Shopping, Home Services, Building Supplies, H...
1qCuOcks5HRv67OHovAVpg    [Pubs, Bars, American (New), Nightlife, Restau...
sbW8qHJgzEIH42B0S-3New    [Arts & Entertainment, American (Traditional),...
McikHxxEqZ2X0joaRNKlaw    [Food, American (Traditional), Breweries, Rest...
tv8cS4aaA1VDaInYgggb6g                            [Nightlife, Comedy Clubs]
eT5Ck7Gg1dBJobca9VFovw    [Videos & Video Game Rental, Books, Mags, Musi...
HwwEfnZKLNOUoqfgcwAgcQ    [Books, Mags, Music & Video, Shopping, Booksto...
EoAY1JSVeJriBzId8lUQwQ       [Bars, American (New), Nightlife, Restaurants]
uI0LvTXFACid1308KFO5ew                        [Active Life, Swimming Pools]
tU-YtoW339PXJmUGSix_AQ    [Bars, American (Traditional), Nightlife, Rest...
6p9TlP2I8S4agxYMNFSDjg    [American (Traditional), Pizza, Gluten-Free, R...
XhbC5Qj5nBcqcKLPRd8izQ                        [Lingerie, Shopping, Fashion]
                                                ...
Hrtd1iAZecwO2O1LL2jNgQ    [Skin Care, Waxing, Beauty & Spas, Hair Remova...
FkEahma9Jqi-L4Xt7TvvLg                [American (Traditional), Restaurants]
3v5Jl6WOV3SxrdriQHvMdA                          [Yelp Events, Local Flavor]
5B0XAz8RhbuMDlRhot71mw                                        [Restaurants]
7MIN993tyUSCfHURu_Epjg         [Country Dance Halls, Pool Halls, Nightlife]
YD0ldv-QFFU7-OIojbED6g                              [Filipino, Restaurants]
t4m8EAGERZUrW4qW16GQGQ                              [Moroccan, Restaurants]
vejqhkjMGrHewvniyk6_9g    [Food, Juice Bars & Smoothies, Sandwiches, Sal...
86LIH7WrPYKu_b_koODNPA    [Shopping, Cosmetics & Beauty Supply, Beauty &...
QhwkFogGQA-Ar176Ul5PUQ                               [Burgers, Restaurants]
spKnyZMyJWinDINbf4HR0Q              [Arts & Entertainment, Performing Arts]
LTjPK8lhnFcn3MJrmVpKqw                                    [Bars, Nightlife]
UTrs6gV6Y49JTMBif6ujqQ               [Health Markets, Food, Specialty Food]
pesdw9r5ZaAIghcff4I0iw                                 [Food, Coffee & Tea]
AjZLGVy8GgpdCCXCtCXV_A       [Burgers, American (Traditional), Restaurants]
EWdLB__imFSZ9v8EOJBqAQ           [Bakeries, Food, Soup, Salad, Restaurants]
YHuuPfxEPRokVbf4wVUscg                                       [Food, Donuts]
NETaLUX6PH9lxLCwzNgq1Q                    [Sushi Bars, Diners, Restaurants]
AdEFp9zXwOO84mc1OC37aA           [Steakhouses, American (New), Restaurants]
fPc8Zt3jw-XNriLpweadjQ                                 [Greek, Restaurants]
Zlv0RZR5cFS5NzeXteuUjg                            [Sandwiches, Restaurants]
BvbFnrg21OU2dULq3OlqcQ             [Seafood, Dim Sum, Chinese, Restaurants]
F14WDg0i6yZwXbflJ8ndaw                                 [Pizza, Restaurants]
5jpV_QXxhfs8wHOXX3E_3w        [Burgers, Fast Food, Sandwiches, Restaurants]
bL_zVv5o7IbYhYjwaEBA3Q    [Breakfast & Brunch, Bars, Nightlife, Restaura...
4O9Du_JiAvz24b2VSOJNTA                  [Food, Ethnic Food, Specialty Food]
AG3jFaQcABSFF-ry3l5t5g           [Breakfast & Brunch, Buffets, Restaurants]
LT00Q44xHSFTs1wJPXeS2A       [Food, American (New), Breweries, Restaurants]
qrgod2lrYnxHwNWC_YYTyQ    [Seafood, American (New), Latin American, Rest...
7gmzKhAr6-A0DCGT4HN-ig                           [Food, Desserts, Bakeries]
Name: categories, dtype: object

## 2 Restriction on restaurants:

In [11]:
# Restricting to the restaurants
restaurants = business_df[business_df['categories'].apply(lambda x: 'Restaurants' in x)]

In [12]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18640 entries, mVHrayjG3uZ_RLHkLj-AMg to qrgod2lrYnxHwNWC_YYTyQ
Columns: 176 entries, attributes to 9-6
dtypes: bool(1), float64(171), int64(1), object(3)
memory usage: 25.0+ MB

In [13]:
# Study on the categories

restaurant_categories = restaurants.categories.values
restaurant_categories_set = set([c for cs in restaurant_categories for c in cs])
nationalities = []
with open('nationality_list.txt') as f:
    for line in f:
        # Remove the special character \n
        nat = line[:-1]
        # Consider only those in the set
        if nat in restaurant_categories_set:
            nationalities.append(nat)
nationalities_map = {k:i+1 for i,k in enumerate(nationalities)}
nationalities_map

{'Afghan': 1,
 'Argentine': 2,
 'Australian': 4,
 'Austrian': 3,
 'Bangladeshi': 5,
 'Belgian': 6,
 'Brazilian': 7,
 'British': 8,
 'Cambodian': 9,
 'Chinese': 10,
 'Colombian': 11,
 'Czech': 12,
 'Egyptian': 13,
 'Ethiopian': 15,
 'French': 16,
 'German': 17,
 'Greek': 18,
 'Hungarian': 19,
 'Indian': 20,
 'Indonesian': 21,
 'Irish': 22,
 'Italian': 23,
 'Japanese': 24,
 'Malaysian': 25,
 'Mexican': 26,
 'Moroccan': 27,
 'Pakistani': 28,
 'Peruvian': 29,
 'Polish': 30,
 'Portuguese': 31,
 'Russian': 32,
 'Salvadoran': 14,
 'Scottish': 33,
 'Singaporean': 34,
 'Spanish': 35,
 'Thai': 36,
 'Turkish': 37,
 'Vietnamese': 38}

In [14]:
# Label the class

def get_target(categories, n_map):
    for c in categories:
        if c in n_map:
            return n_map[c]
    return 0

restaurants['target'] = restaurants.apply(lambda x: get_target(x['categories'], nationalities_map), axis=1)

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
# Study on the attributes
import collections

attributes_keys = [k for attributes in restaurants.attributes.values for k in attributes.keys()]
len(attributes_keys)

counter = collections.Counter(attributes_keys)
counter.most_common(20)

[(u'Accepts Credit Cards', 18070),
 (u'Price Range', 17889),
 (u'Good For Groups', 17782),
 (u'Good for Kids', 17734),
 (u'Attire', 17677),
 (u'Take-out', 17652),
 (u'Takes Reservations', 17426),
 (u'Outdoor Seating', 17301),
 (u'Delivery', 17263),
 (u'Good For', 16881),
 (u'Parking', 16515),
 (u'Waiter Service', 16482),
 (u'Has TV', 16461),
 (u'Alcohol', 16243),
 (u'Ambience', 15785),
 (u'Noise Level', 15762),
 (u'Wi-Fi', 13435),
 (u'Caters', 12385),
 (u'Wheelchair Accessible', 9494),
 (u'Drive-Thru', 2471)]

In [16]:
# Picking the top attributes
top_attributes = [c[0] for c in counter.most_common(16)]

# Drop irrelevant attributes (also because their format is dictionnaries)
top_attributes.pop(top_attributes.index('Good For'))
top_attributes.pop(top_attributes.index('Parking'))
top_attributes.pop(top_attributes.index('Ambience'))

for c in top_attributes:
    restaurants[c] = restaurants.apply(lambda x: x['attributes'][c] if c in x['attributes'].keys() else np.nan, axis=1)

# Dropping the na values (First draft)
# To handle missing values: estimate the missing values based on knn or latent features model
restaurants_clean = restaurants.dropna(how='any')

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
def is_categorical(unique):
    if len(unique) > 2 and not isinstance(unique[0], float) and not isinstance(unique[0], bool) and not isinstance(unique[0], int):
        return True
    else:
        return False

# Listing the categorical features
categorical = []
for c in restaurants_clean.columns.values:
    if c == 'attributes' or c=='categories':
        continue
    if is_categorical(restaurants_clean[c].unique()):
        categorical.append(c)
        
# Handling categorical feature: state
for c in categorical:
    restaurants_clean[c] = restaurants_clean[c].astype('category')
    dummies = pd.get_dummies(restaurants_clean[c])
    restaurants_clean = restaurants_clean.join(dummies)
    restaurants_clean = restaurants_clean.drop([c], axis=1)

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
restaurants_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13707 entries, mVHrayjG3uZ_RLHkLj-AMg to qrgod2lrYnxHwNWC_YYTyQ
Columns: 208 entries, attributes to very_loud
dtypes: bool(1), float64(194), int64(2), object(11)
memory usage: 21.8+ MB

In [19]:
# Dropping the target with less than 1000 occurences
count = restaurants_clean.target.value_counts()
classes = count[count >1000].index.values

# Warning: The class 0 stands for no nationality
restaurants_clean['target_top'] = restaurants_clean.apply(lambda x: x['target'] if x['target'] in classes else 0, axis=1)
classes_name = [nationalities[i - 1] for i in classes[1:]]
classes_name

['Mexican', 'Italian']

In [20]:
# Changing the label of the target classes according to the selected classes
classes_map = {k:i for i,k in enumerate(classes)}
classes_s = range(0,len(classes))

restaurants_clean['target_top'] = restaurants_clean.apply(lambda x: classes_map[x['target_top']], axis=1)
restaurants_clean.head(5)

,attributes,categories,latitude,longitude,open,review_count,stars,0-0,0-1,0-2,...,dressy,formal,beer_and_wine,full_bar,none,average,loud,quiet,very_loud,target_top
business_id,,,,,,,,,,,,,,,,,,,,,
mVHrayjG3uZ_RLHkLj-AMg,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...","[Bars, American (New), Nightlife, Lounges, Res...",40.408735,-79.866351,True,11,4.5,0,0,0,...,0,0,0,1,0,1,0,0,0,0
KayYbHCt-RkbGcPdGOThNg,"{u'Alcohol': u'full_bar', u'Noise Level': u'lo...","[Bars, American (Traditional), Nightlife, Rest...",40.415517,-80.067534,True,15,4.0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
fNGIbpazjTRdXgwRY_NIXA,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...","[Bars, American (Traditional), Nightlife, Loun...",40.396469,-80.084942,True,5,4.0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
b9WZJp5L1RZr4F1nxclOoQ,"{u'Alcohol': u'none', u'Noise Level': u'averag...","[Breakfast & Brunch, Restaurants]",40.396744,-80.084800,True,38,4.5,0,0,0,...,0,0,0,0,1,1,0,0,0,0
zaXDakTd3RXyOa7sMrUE1g,"{u'Take-out': True, u'Price Range': 1, u'Outdo...","[Cafes, Restaurants]",40.404638,-80.089985,True,5,4.0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [34]:
data_pca.shape

(13707, 27)

In [24]:
# Drop irrelevant features
data_exp = restaurants_clean.reset_index()
data_exp = data_exp.drop(['business_id', 'categories', 'attributes', 'target'], axis=1)

# Split train/test set
mask = np.random.rand(len(data_exp)) < 0.8
train_set = data_exp[mask]
test_set = data_exp[~mask]

print test_set.target_top.value_counts()
print train_set.target_top.value_counts()

0    2255
1     301
2     196
dtype: int64
0    8895
1    1250
2     810
dtype: int64

In [60]:
# Multiclass Logistic Regression
from sklearn.linear_model import LogisticRegression


y = train_set['target_top']
X = train_set.drop(['target_top'], axis=1)

lreg = LogisticRegression(penalty='l1', solver='lbfgs', multi_class='ovr')
clf = lreg.fit(X, y)

# Testing

y_test = test_set['target_top']
X_test = test_set.drop(['target_top'], axis=1)

y_test_pred = clf.predict(X_test)
y_score = clf.decision_function(X_test)

AttributeError: 'DummyClassifier' object has no attribute 'decision_function'

In [57]:
# PCA 
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression


# Dimensionality reduction
pca = PCA(n_components=0.999)
data_pca = pca.fit_transform(data_exp.drop(['target_top'], axis=1))

train_pca_set = data_pca[mask]
test_pca_set = data_pca[~mask]

y = train_set['target_top']
X = train_pca_set

lreg = LogisticRegression(penalty='l1', solver='lbfgs', multi_class='ovr')
clf = lreg.fit(X, y)

# Testing

y_test = test_set['target_top']
X_test = test_pca_set

y_test_pred = clf.predict(X_test)
y_score_pca = clf.decision_function(X_test)

In [46]:
# Plotting the confusion matrix

from sklearn.metrics import confusion_matrix

target_names = ['None'] + classes_name

def plot_confusion_matrix(cm, title='Confusion matrix', cmap=plt.cm.Blues):
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(target_names))
    plt.xticks(tick_marks, target_names, rotation=45)
    plt.yticks(tick_marks, target_names)
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')



# Compute confusion matrix
cm = confusion_matrix(y_test, y_test_pred)
np.set_printoptions(precision=2)
print('Confusion matrix, without normalization')
print(cm)
plt.figure()
plot_confusion_matrix(cm)

# Normalize the confusion matrix by row (i.e by the number of samples
# in each class)
cm_normalized = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
print('Normalized confusion matrix')
print(cm_normalized)
plt.figure()
plot_confusion_matrix(cm_normalized, title='Normalized confusion matrix')

plt.show()

Confusion matrix, without normalization
[[2245    2    8]
 [ 296    5    0]
 [ 193    0    3]]
Normalized confusion matrix

/usr/local/lib/python2.7/site-packages/matplotlib/tight_layout.py:225: UserWarning: tight_layout : falling back to Agg renderer
  warnings.warn("tight_layout : falling back to Agg renderer")
/usr/local/lib/python2.7/site-packages/matplotlib/collections.py:590: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == str('face'):

[[  9.96e-01   8.87e-04   3.55e-03]
 [  9.83e-01   1.66e-02   0.00e+00]
 [  9.85e-01   0.00e+00   1.53e-02]]

In [84]:
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize

# Binarize the output
y_bin = label_binarize(y, classes=classes_s)
y_test_bin = label_binarize(y_test, classes=classes_s)
n_classes = y_bin.shape[1]

# Names of the classes
target_names = ['None'] + classes_name

# Compute ROC curve and ROC area for each class
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(len(target_names)):
    fpr[i], tpr[i], _ = roc_curve(y_test_bin[:, i], y_score[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Compute micro-average ROC curve and ROC area
fpr["micro"], tpr["micro"], _ = roc_curve(y_test_bin.ravel(), y_score.ravel())
roc_auc["micro"] = auc(fpr["micro"], tpr["micro"])

# Plot ROC curve
plt.figure()
for i in range(n_classes):
    plt.plot(fpr[i], tpr[i], label='ROC curve of class {0} (area = {1:0.2f})'
                                   ''.format(target_names[i], roc_auc[i]))

plt.plot([0, 1], [0, 1], 'k--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('multi-class ROC curve')
plt.legend(loc="lower right")
plt.show()

In [81]:
# Metrics and comparaison with dummy models (always predicting 0 for example)

from sklearn import metrics

print metrics.precision_score(y_test, np.zeros(y_test.shape[0]))
print metrics.precision_score(y_test, y_test_pred)

0.671423029551
0.726111608768

/usr/local/lib/python2.7/site-packages/sklearn/metrics/classification.py:1082: DeprecationWarning: The default `weighted` averaging is deprecated, and from version 0.18, use of precision, recall or F-score with multiclass or multilabel data or pos_label=None will result in an exception. Please set an explicit value for `average`, one of (None, 'micro', 'macro', 'weighted', 'samples'). In cross validation use, for instance, scoring="f1_weighted" instead of scoring="f1".
  sample_weight=sample_weight)
/usr/local/lib/python2.7/site-packages/sklearn/metrics/classification.py:1082: DeprecationWarning: The default `weighted` averaging is deprecated, and from version 0.18, use of precision, recall or F-score with multiclass or multilabel data or pos_label=None will result in an exception. Please set an explicit value for `average`, one of (None, 'micro', 'macro', 'weighted', 'samples'). In cross validation use, for instance, scoring="f1_weighted" instead of scoring="f1".
  sample_weight=sample_weight)

In [63]:
y_score

array([[ 1.8 , -2.28, -3.34],
       [ 2.4 , -2.73, -4.05],
       [ 1.33, -2.99, -1.83],
       ...,
       [ 1.6 , -1.06, -4.09],
       [ 0.63, -1.89, -1.51],
       [ 1.34, -2.45, -2.26]])

In [69]:
len(restaurant_categories_set)

261

In [70]:
X.shape

(10955, 205)

## 3 Test against largest categories

In [89]:
# Study the top categories
import collections

categories_keys = [k for cat in business_df.categories.values for k in cat]
len(categories_keys)

counter2 = collections.Counter(categories_keys)
counter2.most_common(40)

[(u'Restaurants', 18640),
 (u'Food', 6637),
 (u'Shopping', 6504),
 (u'Nightlife', 3760),
 (u'Beauty & Spas', 3374),
 (u'Bars', 3205),
 (u'Fast Food', 2145),
 (u'Mexican', 2045),
 (u'Fashion', 2004),
 (u'Active Life', 1980),
 (u'American (Traditional)', 1968),
 (u'Automotive', 1958),
 (u'Pizza', 1828),
 (u'Health & Medical', 1828),
 (u'Sandwiches', 1796),
 (u'Event Planning & Services', 1776),
 (u'Arts & Entertainment', 1638),
 (u'Coffee & Tea', 1636),
 (u'Hotels & Travel', 1582),
 (u'Burgers', 1388),
 (u'American (New)', 1374),
 (u'Italian', 1327),
 (u'Chinese', 1265),
 (u'Grocery', 1107),
 (u'Hotels', 1103),
 (u'Breakfast & Brunch', 1036),
 (u'Nail Salons', 1023),
 (u'Local Services', 1008),
 (u'Hair Salons', 898),
 (u'Home & Garden', 828),
 (u'Fitness & Instruction', 792),
 (u'Specialty Food', 773),
 (u'Ice Cream & Frozen Yogurt', 764),
 (u'Bakeries', 743),
 (u'Home Services', 727),
 (u'Pets', 696),
 (u'Auto Repair', 693),
 (u"Women's Clothing", 690),
 (u'Sports Bars', 682),
 (u'Pubs', 650)]

In [88]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45166 entries, cE27W9VPgO88Qxe4ol6y_g to 7gmzKhAr6-A0DCGT4HN-ig
Columns: 176 entries, attributes to 9-6
dtypes: bool(1), float64(171), int64(1), object(3)
memory usage: 60.7+ MB