In [1]:
import json
import numpy as np
import pandas as pd

## 1 Loading the data
NB: the json need to be a list of json elements as dictionary. We need to add the **brackets []** and the **coma** to separate each element

In [2]:
with open("../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json") as json_file:
    data_business = json.load(json_file)

In [3]:
data_business[35]

{u'attributes': {u'Accepts Credit Cards': True,
  u'Alcohol': u'full_bar',
  u'Ambience': {u'casual': True,
   u'classy': False,
   u'divey': False,
   u'hipster': False,
   u'intimate': False,
   u'romantic': False,
   u'touristy': False,
   u'trendy': False,
   u'upscale': False},
  u'Attire': u'casual',
  u'BYOB': False,
  u'BYOB/Corkage': u'yes_free',
  u'Caters': False,
  u'Corkage': False,
  u'Delivery': False,
  u'Good For': {u'breakfast': False,
   u'brunch': False,
   u'dessert': False,
   u'dinner': False,
   u'latenight': True,
   u'lunch': False},
  u'Good For Groups': True,
  u'Good For Kids': False,
  u'Good for Kids': True,
  u'Has TV': True,
  u'Noise Level': u'very_loud',
  u'Outdoor Seating': False,
  u'Parking': {u'garage': False,
   u'lot': True,
   u'street': False,
   u'valet': False,
   u'validated': False},
  u'Price Range': 2,
  u'Take-out': True,
  u'Takes Reservations': True,
  u'Waiter Service': True,
  u'Wheelchair Accessible': True},
 u'business_id': u'sbW8qHJgzEIH42B0S-3New',
 u'categories': [u'Arts & Entertainment',
  u'American (Traditional)',
  u'Arcades',
  u'Restaurants'],
 u'city': u'Homestead',
 u'full_address': u'180 E Waterfront Dr\nHomestead\nHomestead, PA 15120',
 u'hours': {u'Friday': {u'close': u'02:00', u'open': u'11:30'},
  u'Monday': {u'close': u'00:00', u'open': u'11:30'},
  u'Saturday': {u'close': u'02:00', u'open': u'11:30'},
  u'Sunday': {u'close': u'00:00', u'open': u'11:30'},
  u'Thursday': {u'close': u'00:00', u'open': u'11:30'},
  u'Tuesday': {u'close': u'00:00', u'open': u'11:30'},
  u'Wednesday': {u'close': u'00:00', u'open': u'11:30'}},
 u'latitude': 40.4097113,
 u'longitude': -79.9140822,
 u'name': u"Dave & Buster's",
 u'neighborhoods': [u'Homestead'],
 u'open': True,
 u'review_count': 52,
 u'stars': 3.0,
 u'state': u'PA',
 u'type': u'business'}

Somes features need to be droped:
* 'full_address', 'city': the state and latitude/longitude already stand for the geographical position. Maybe the street could eb considered, but then will need to be convert...
* 'name': need to find how to use it (add features count to find a word realted to categories in the name?)
* 'type': stands for the data type (here it's business)

Somes features are droped but may be useful, we need to think about how to use them:
* 'attributes': issue is the unstructured nature
* 'hours': the checkin seems to be enough
* 'neighborhoods': many missing values in this column

In [4]:
business_list = []
    
for b in data_business:
    d = b.copy()
    
    # Dropping unconsidered features
    d.pop('hours')
    d.pop('attributes')
    d.pop('neighborhoods')
    d.pop('type')
    d.pop('full_address')
    d.pop('name')
    d.pop('city')
    
    
    business_list.append(d)
    
business=pd.DataFrame(business_list)
# Changing the index
business = business.set_index('business_id')

business.head(5)

,categories,latitude,longitude,open,review_count,stars,state
business_id,,,,,,,
vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",33.499313,-111.983758,True,9,3.5,AZ
UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],40.350519,-79.886930,True,4,3.5,PA
cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",40.356896,-80.015910,False,5,2.5,PA
HZdLhv6COCleJMo7nPl-RA,"[Shopping, Home Services, Internet Service Pro...",40.357620,-80.059980,True,3,3.5,PA
mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",40.408735,-79.866351,True,11,4.5,PA

In [5]:
with open("../yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_checkin.json") as json_file:
    data_checkin = json.load(json_file)

In [6]:
data_checkin[0]

{u'business_id': u'cE27W9VPgO88Qxe4ol6y_g',
 u'checkin_info': {u'10-0': 1,
  u'13-0': 1,
  u'13-3': 1,
  u'14-6': 1,
  u'17-3': 1,
  u'17-6': 1,
  u'18-4': 1,
  u'7-5': 1,
  u'9-5': 1},
 u'type': u'checkin'}

In [7]:
checkin_list = []

for c in data_checkin:
    d = {}
    d['business_id'] = c['business_id']
    for k,v in c['checkin_info'].iteritems():
        d[k] = v
    checkin_list.append(d)
    
checkin=pd.DataFrame(checkin_list)
checkin = checkin.set_index('business_id')

# Change Nan to 0 in the checking
checkin = checkin.fillna(0)

checkin.head(10)

,0-0,0-1,0-2,0-3,0-4,0-5,0-6,1-0,1-1,1-2,...,8-4,8-5,8-6,9-0,9-1,9-2,9-3,9-4,9-5,9-6
business_id,,,,,,,,,,,,,,,,,,,,,
cE27W9VPgO88Qxe4ol6y_g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
mVHrayjG3uZ_RLHkLj-AMg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
KayYbHCt-RkbGcPdGOThNg,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,3,0,0
wJr6kSA5dchdgOdwH6dZ2w,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
yXuao0pFz1AxB21vJjDf5w,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
fNGIbpazjTRdXgwRY_NIXA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
b9WZJp5L1RZr4F1nxclOoQ,0,0,0,0,0,0,0,0,0,0,...,2,3,4,2,3,1,2,4,4,1
zaXDakTd3RXyOa7sMrUE1g,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,0,0
zgy27FSnvwdINfk5cXBIyQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
WETE_LykpcnrC1sFcQ5EGg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# ## Joining the dataframes
business_df = business.merge(checkin, how='left', right_index=True, left_index=True)
business_df.head()

,categories,latitude,longitude,open,review_count,stars,state,0-0,0-1,0-2,...,8-4,8-5,8-6,9-0,9-1,9-2,9-3,9-4,9-5,9-6
business_id,,,,,,,,,,,,,,,,,,,,,
vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",33.499313,-111.983758,True,9,3.5,AZ,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],40.350519,-79.886930,True,4,3.5,PA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",40.356896,-80.015910,False,5,2.5,PA,0,0,0,...,0,0,0,0,0,0,0,0,1,0
HZdLhv6COCleJMo7nPl-RA,"[Shopping, Home Services, Internet Service Pro...",40.357620,-80.059980,True,3,3.5,PA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",40.408735,-79.866351,True,11,4.5,PA,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
# Droping the business with Nan values of checkin
business_df = business_df.dropna(how='any')

In [10]:
business_df.categories

business_id
cE27W9VPgO88Qxe4ol6y_g                       [Active Life, Mini Golf, Golf]
mVHrayjG3uZ_RLHkLj-AMg    [Bars, American (New), Nightlife, Lounges, Res...
KayYbHCt-RkbGcPdGOThNg    [Bars, American (Traditional), Nightlife, Rest...
wJr6kSA5dchdgOdwH6dZ2w    [Burgers, Breakfast & Brunch, American (Tradit...
yXuao0pFz1AxB21vJjDf5w                                      [Food, Grocery]
fNGIbpazjTRdXgwRY_NIXA    [Bars, American (Traditional), Nightlife, Loun...
b9WZJp5L1RZr4F1nxclOoQ                    [Breakfast & Brunch, Restaurants]
zaXDakTd3RXyOa7sMrUE1g                                 [Cafes, Restaurants]
zgy27FSnvwdINfk5cXBIyQ    [Hotels & Travel, Event Planning & Services, H...
WETE_LykpcnrC1sFcQ5EGg          [Pubs, Irish, Nightlife, Bars, Restaurants]
SQ0j7bgSTazkVQlF5AnqyQ                               [Chinese, Restaurants]
wqu7ILomIOPSduRwoWp4AQ    [Breakfast & Brunch, American (Traditional), R...
P1fJb2WQ1mXoiudj8UE44w                               [Restaurants, Italian]
PK6aSizckHFWk8i0oxt5DA                    [Burgers, Fast Food, Restaurants]
3gmBc0qN_LtGbZAjTtHWZg                                 [Food, Coffee & Tea]
yHTLTr-QN-loO_7XoxS8qg    [Arts & Crafts, Shopping, Knitting Supplies, H...
6ilJq_05xRgek_8qUp36-g                    [Burgers, Fast Food, Restaurants]
MKyk4F4HSzHF8v-4cYe3Ww                       [Bars, Nightlife, Restaurants]
gClSqcwuLsgyZRCzhJc7Dg    [Shopping, Home Services, Building Supplies, H...
1qCuOcks5HRv67OHovAVpg    [Pubs, Bars, American (New), Nightlife, Restau...
sbW8qHJgzEIH42B0S-3New    [Arts & Entertainment, American (Traditional),...
McikHxxEqZ2X0joaRNKlaw    [Food, American (Traditional), Breweries, Rest...
tv8cS4aaA1VDaInYgggb6g                            [Nightlife, Comedy Clubs]
eT5Ck7Gg1dBJobca9VFovw    [Videos & Video Game Rental, Books, Mags, Musi...
HwwEfnZKLNOUoqfgcwAgcQ    [Books, Mags, Music & Video, Shopping, Booksto...
EoAY1JSVeJriBzId8lUQwQ       [Bars, American (New), Nightlife, Restaurants]
uI0LvTXFACid1308KFO5ew                        [Active Life, Swimming Pools]
tU-YtoW339PXJmUGSix_AQ    [Bars, American (Traditional), Nightlife, Rest...
6p9TlP2I8S4agxYMNFSDjg    [American (Traditional), Pizza, Gluten-Free, R...
XhbC5Qj5nBcqcKLPRd8izQ                        [Lingerie, Shopping, Fashion]
                                                ...
Hrtd1iAZecwO2O1LL2jNgQ    [Skin Care, Waxing, Beauty & Spas, Hair Remova...
FkEahma9Jqi-L4Xt7TvvLg                [American (Traditional), Restaurants]
3v5Jl6WOV3SxrdriQHvMdA                          [Yelp Events, Local Flavor]
5B0XAz8RhbuMDlRhot71mw                                        [Restaurants]
7MIN993tyUSCfHURu_Epjg         [Country Dance Halls, Pool Halls, Nightlife]
YD0ldv-QFFU7-OIojbED6g                              [Filipino, Restaurants]
t4m8EAGERZUrW4qW16GQGQ                              [Moroccan, Restaurants]
vejqhkjMGrHewvniyk6_9g    [Food, Juice Bars & Smoothies, Sandwiches, Sal...
86LIH7WrPYKu_b_koODNPA    [Shopping, Cosmetics & Beauty Supply, Beauty &...
QhwkFogGQA-Ar176Ul5PUQ                               [Burgers, Restaurants]
spKnyZMyJWinDINbf4HR0Q              [Arts & Entertainment, Performing Arts]
LTjPK8lhnFcn3MJrmVpKqw                                    [Bars, Nightlife]
UTrs6gV6Y49JTMBif6ujqQ               [Health Markets, Food, Specialty Food]
pesdw9r5ZaAIghcff4I0iw                                 [Food, Coffee & Tea]
AjZLGVy8GgpdCCXCtCXV_A       [Burgers, American (Traditional), Restaurants]
EWdLB__imFSZ9v8EOJBqAQ           [Bakeries, Food, Soup, Salad, Restaurants]
YHuuPfxEPRokVbf4wVUscg                                       [Food, Donuts]
NETaLUX6PH9lxLCwzNgq1Q                    [Sushi Bars, Diners, Restaurants]
AdEFp9zXwOO84mc1OC37aA           [Steakhouses, American (New), Restaurants]
fPc8Zt3jw-XNriLpweadjQ                                 [Greek, Restaurants]
Zlv0RZR5cFS5NzeXteuUjg                            [Sandwiches, Restaurants]
BvbFnrg21OU2dULq3OlqcQ             [Seafood, Dim Sum, Chinese, Restaurants]
F14WDg0i6yZwXbflJ8ndaw                                 [Pizza, Restaurants]
5jpV_QXxhfs8wHOXX3E_3w        [Burgers, Fast Food, Sandwiches, Restaurants]
bL_zVv5o7IbYhYjwaEBA3Q    [Breakfast & Brunch, Bars, Nightlife, Restaura...
4O9Du_JiAvz24b2VSOJNTA                  [Food, Ethnic Food, Specialty Food]
AG3jFaQcABSFF-ry3l5t5g           [Breakfast & Brunch, Buffets, Restaurants]
LT00Q44xHSFTs1wJPXeS2A       [Food, American (New), Breweries, Restaurants]
qrgod2lrYnxHwNWC_YYTyQ    [Seafood, American (New), Latin American, Rest...
7gmzKhAr6-A0DCGT4HN-ig                           [Food, Desserts, Bakeries]
Name: categories, dtype: object

## 2 Restriction on restaurants:

In [11]:
# Restricting to the restaurants
restaurants = business_df[business_df['categories'].apply(lambda x: 'Restaurants' in x)]

In [12]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18640 entries, mVHrayjG3uZ_RLHkLj-AMg to qrgod2lrYnxHwNWC_YYTyQ
Columns: 175 entries, categories to 9-6
dtypes: bool(1), float64(171), int64(1), object(2)
memory usage: 24.9+ MB

In [13]:
restaurant_categories = restaurants.categories.values
restaurant_categories_set = set([c for cs in restaurant_categories for c in cs])
restaurant_categories_set

{u'Active Life',
 u'Adult Entertainment',
 u'Afghan',
 u'African',
 u'Airports',
 u'American (New)',
 u'American (Traditional)',
 u'Amusement Parks',
 u'Appliances',
 u'Arabian',
 u'Arcades',
 u'Argentine',
 u'Art Galleries',
 u'Arts & Crafts',
 u'Arts & Entertainment',
 u'Asian Fusion',
 u'Australian',
 u'Austrian',
 u'Auto Repair',
 u'Automotive',
 u'Baden',
 u'Bagels',
 u'Bakeries',
 u'Bangladeshi',
 u'Barbeque',
 u'Bars',
 u'Basque',
 u'Bavarian',
 u'Bed & Breakfast',
 u'Beer Bar',
 u'Beer Garden',
 u'Beer Gardens',
 u'Beer, Wine & Spirits',
 u'Belgian',
 u'Bikes',
 u'Bistros',
 u'Books, Mags, Music & Video',
 u'Bookstores',
 u'Bowling',
 u'Brasseries',
 u'Brazilian',
 u'Breakfast & Brunch',
 u'Breweries',
 u'British',
 u'Bubble Tea',
 u'Buffets',
 u'Burgers',
 u'Burmese',
 u'Butcher',
 u'Cafes',
 u'Cafeteria',
 u'Cajun/Creole',
 u'Cambodian',
 u'Canadian (New)',
 u'Candy Stores',
 u'Cantonese',
 u'Car Wash',
 u'Caribbean',
 u'Casinos',
 u'Caterers',
 u'Champagne Bars',
 u'Cheese Shops',
 u'Cheesesteaks',
 u'Chicken Wings',
 u'Chinese',
 u'Chocolatiers & Shops',
 u'Cinema',
 u'Cocktail Bars',
 u'Coffee & Tea',
 u'Coffee & Tea Supplies',
 u'Colleges & Universities',
 u'Colombian',
 u'Comfort Food',
 u'Convenience Stores',
 u'Cooking Schools',
 u'Country Dance Halls',
 u'Couriers & Delivery Services',
 u'Creperies',
 u'Cuban',
 u'Cultural Center',
 u'Cupcakes',
 u'Curry Sausage',
 u'Czech',
 u'Dance Clubs',
 u'Delicatessen',
 u'Delis',
 u'Desserts',
 u'Dim Sum',
 u'Diners',
 u'Distilleries',
 u'Dive Bars',
 u'Do-It-Yourself Food',
 u'Dominican',
 u'Donuts',
 u'Drugstores',
 u'Education',
 u'Egyptian',
 u'Ethiopian',
 u'Ethnic Food',
 u'Event Planning & Services',
 u'Falafel',
 u'Farmers Market',
 u'Fashion',
 u'Fast Food',
 u'Festivals',
 u'Filipino',
 u'Fish & Chips',
 u'Flea Markets',
 u'Flowers & Gifts',
 u'Fondue',
 u'Food',
 u'Food Court',
 u'Food Delivery Services',
 u'Food Stands',
 u'Food Trucks',
 u'French',
 u'Fruits & Veggies',
 u'Gas & Service Stations',
 u'Gastropubs',
 u'Gay Bars',
 u'Gelato',
 u'German',
 u'Gluten-Free',
 u'Golf',
 u'Greek',
 u'Grocery',
 u'Halal',
 u'Hawaiian',
 u'Health & Medical',
 u'Health Markets',
 u'Herbs & Spices',
 u'Himalayan/Nepalese',
 u'Hobby Shops',
 u'Home & Garden',
 u'Home Decor',
 u'Home Services',
 u'Hookah Bars',
 u'Hot Dogs',
 u'Hot Pot',
 u'Hotels',
 u'Hotels & Travel',
 u'Hungarian',
 u'Iberian',
 u'Ice Cream & Frozen Yogurt',
 u'Indian',
 u'Indonesian',
 u'Internet Cafes',
 u'Irish',
 u'Irish Pub',
 u'Italian',
 u'Izakaya',
 u'Japanese',
 u'Jazz & Blues',
 u'Juice Bars & Smoothies',
 u'Karaoke',
 u'Kebab',
 u'Kids Activities',
 u'Kitchen & Bath',
 u'Korean',
 u'Kosher',
 u'Landmarks & Historical Buildings',
 u'Laotian',
 u'Latin American',
 u'Lebanese',
 u'Leisure Centers',
 u'Live/Raw Food',
 u'Local Flavor',
 u'Local Services',
 u'Lounges',
 u'Malaysian',
 u'Meat Shops',
 u'Mediterranean',
 u'Mexican',
 u'Middle Eastern',
 u'Modern European',
 u'Mongolian',
 u'Moroccan',
 u'Music Venues',
 u'Musicians',
 u'Nightlife',
 u'Nutritionists',
 u'Organic Stores',
 u'Outlet Stores',
 u'Pakistani',
 u'Party & Event Planning',
 u'Party Supplies',
 u'Patisserie/Cake Shop',
 u'Performing Arts',
 u'Persian/Iranian',
 u'Personal Chefs',
 u'Personal Shopping',
 u'Peruvian',
 u'Pet Services',
 u'Pets',
 u'Piano Bars',
 u'Pita',
 u'Pizza',
 u'Polish',
 u'Pool Halls',
 u'Portuguese',
 u'Poutineries',
 u'Pretzels',
 u'Pub Food',
 u'Public Services & Government',
 u'Pubs',
 u'RV Parks',
 u'Ramen',
 u'Real Estate',
 u'Resorts',
 u'Restaurants',
 u'Russian',
 u'Salad',
 u'Salvadoran',
 u'Sandwiches',
 u'Scandinavian',
 u'Scottish',
 u'Seafood',
 u'Seafood Markets',
 u'Shanghainese',
 u'Shared Office Spaces',
 u'Shaved Ice',
 u'Shopping',
 u'Shopping Centers',
 u'Singaporean',
 u'Social Clubs',
 u'Soul Food',
 u'Soup',
 u'Southern',
 u'Spanish',
 u'Specialty Food',
 u'Specialty Schools',
 u'Sporting Goods',
 u'Sports Bars',
 u'Sports Wear',
 u'Steakhouses',
 u'Street Vendors',
 u'Sushi Bars',
 u'Swimming Pools',
 u'Szechuan',
 u'Taiwanese',
 u'Tapas Bars',
 u'Tapas/Small Plates',
 u'Tea Rooms',
 u'Teppanyaki',
 u'Tex-Mex',
 u'Thai',
 u'Ticket Sales',
 u'Tours',
 u'Travel Services',
 u'Trinidadian',
 u'Turkish',
 u'Ukrainian',
 u'Uzbek',
 u'Vegan',
 u'Vegetarian',
 u'Venezuelan',
 u'Venues & Event Spaces',
 u'Vietnamese',
 u'Wedding Planning',
 u'Wine Bars',
 u'Wineries'}

In [25]:
nationalities = []
with open('nationality_list.txt') as f:
    for line in f:
        # Remove the special character \n
        nat = line[:-1]
        # Consider only those in the set
        if nat in restaurant_categories_set:
            nationalities.append(nat)
nationalities_map = {k:i+1 for i,k in enumerate(nationalities)}
nationalities_map

{'Afghan': 1,
 'Argentine': 2,
 'Australian': 4,
 'Austrian': 3,
 'Bangladeshi': 5,
 'Belgian': 6,
 'Brazilian': 7,
 'British': 8,
 'Cambodian': 9,
 'Chinese': 10,
 'Colombian': 11,
 'Czech': 12,
 'Egyptian': 13,
 'Ethiopian': 15,
 'French': 16,
 'German': 17,
 'Greek': 18,
 'Hungarian': 19,
 'Indian': 20,
 'Indonesian': 21,
 'Irish': 22,
 'Italian': 23,
 'Japanese': 24,
 'Malaysian': 25,
 'Mexican': 26,
 'Moroccan': 27,
 'Pakistani': 28,
 'Peruvian': 29,
 'Polish': 30,
 'Portuguese': 31,
 'Russian': 32,
 'Salvadoran': 14,
 'Scottish': 33,
 'Singaporean': 34,
 'Spanish': 35,
 'Thai': 36,
 'Turkish': 37,
 'Vietnamese': 38}

In [26]:
# Label the class

def get_target(categories, n_map):
    for c in categories:
        if c in n_map:
            return n_map[c]
    return 0

restaurants['target'] = restaurants.apply(lambda x: get_target(x['categories'], nationalities_map), axis=1)

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
# Dropping the target with less than 100 occurences
count = restaurants.target.value_counts()
classes = count[count >1000].index.values

# Warning: The class 0 stands for no nationality
restaurants['target_top'] = restaurants.apply(lambda x: x['target'] if x['target'] in classes else 0, axis=1)
classes_name = [nationalities[i - 1] for i in classes[1:]]
classes_name

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

['Mexican', 'Italian', 'Chinese']

In [29]:
# Changing the label of the target classes according to the selected classes
classes_map = {k:i for i,k in enumerate(classes)}
classes_s = range(0,len(classes))

restaurants['target_top'] = restaurants.apply(lambda x: classes_map[x['target_top']], axis=1)
restaurants.head(15)

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,categories,latitude,longitude,open,review_count,stars,state,0-0,0-1,0-2,...,8-6,9-0,9-1,9-2,9-3,9-4,9-5,9-6,target,target_top
business_id,,,,,,,,,,,,,,,,,,,,,
mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",40.408735,-79.866351,True,11,4.5,PA,0,0,0,...,0,0,0,0,0,0,1,0,0,0
KayYbHCt-RkbGcPdGOThNg,"[Bars, American (Traditional), Nightlife, Rest...",40.415517,-80.067534,True,15,4.0,PA,0,0,0,...,0,0,1,0,0,3,0,0,0,0
wJr6kSA5dchdgOdwH6dZ2w,"[Burgers, Breakfast & Brunch, American (Tradit...",40.387732,-80.092874,True,8,3.5,PA,0,0,0,...,0,1,0,0,0,0,0,0,0,0
fNGIbpazjTRdXgwRY_NIXA,"[Bars, American (Traditional), Nightlife, Loun...",40.396469,-80.084942,True,5,4.0,PA,0,0,0,...,0,1,0,0,0,1,0,0,0,0
b9WZJp5L1RZr4F1nxclOoQ,"[Breakfast & Brunch, Restaurants]",40.396744,-80.084800,True,38,4.5,PA,0,0,0,...,4,2,3,1,2,4,4,1,0,0
zaXDakTd3RXyOa7sMrUE1g,"[Cafes, Restaurants]",40.404638,-80.089985,True,5,4.0,PA,0,0,0,...,0,0,0,0,0,1,0,0,0,0
WETE_LykpcnrC1sFcQ5EGg,"[Pubs, Irish, Nightlife, Bars, Restaurants]",40.408670,-80.085279,False,6,3.5,PA,0,0,0,...,0,0,0,0,0,0,0,0,22,0
SQ0j7bgSTazkVQlF5AnqyQ,"[Chinese, Restaurants]",40.408343,-80.084861,True,8,2.5,PA,0,0,0,...,0,0,0,0,0,0,0,0,10,3
wqu7ILomIOPSduRwoWp4AQ,"[Breakfast & Brunch, American (Traditional), R...",40.391255,-80.073426,True,7,4.0,PA,0,0,0,...,1,0,0,0,0,3,0,1,0,0
P1fJb2WQ1mXoiudj8UE44w,"[Restaurants, Italian]",40.408257,-80.085458,True,46,3.5,PA,0,0,0,...,0,1,1,0,2,0,0,0,23,2
PK6aSizckHFWk8i0oxt5DA,"[Burgers, Fast Food, Restaurants]",40.412086,-79.910032,True,5,2.0,PA,0,0,0,...,0,0,1,0,0,1,0,0,0,0
6ilJq_05xRgek_8qUp36-g,"[Burgers, Fast Food, Restaurants]",40.413496,-79.904456,True,36,2.0,PA,0,1,0,...,5,1,0,0,0,0,2,2,0,0
MKyk4F4HSzHF8v-4cYe3Ww,"[Bars, Nightlife, Restaurants]",40.409488,-79.915111,True,25,3.5,PA,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1qCuOcks5HRv67OHovAVpg,"[Pubs, Bars, American (New), Nightlife, Restau...",40.405311,-79.912595,True,16,3.5,PA,0,0,0,...,0,0,2,0,0,0,0,0,0,0
sbW8qHJgzEIH42B0S-3New,"[Arts & Entertainment, American (Traditional),...",40.409711,-79.914082,True,52,3.0,PA,0,0,0,...,0,0,1,0,0,1,4,1,0,0

In [30]:
# Drop irrelevant features
data_exp = restaurants.reset_index()
data_exp = data_exp.drop(['business_id', 'categories', 'target'], axis=1)

# Handling categorical feature: state
data_exp['state'] = data_exp['state'].astype('category')
states_dummies = pd.get_dummies(data_exp.state)
data_exp = data_exp.join(states_dummies)
data_exp = data_exp.drop(['state'], axis=1)

# Split train/test set
mask = np.random.rand(len(data_exp)) < 0.8
train_set = data_exp[mask]
test_set = data_exp[~mask]

print test_set.target_top.value_counts()
print train_set.target_top.value_counts()

train_set.columns

0    2840
1     430
2     267
3     243
dtype: int64
0    11312
1     1605
2     1039
3      904
dtype: int64

Index([    u'latitude',    u'longitude',         u'open', u'review_count',
              u'stars',          u'0-0',          u'0-1',          u'0-2',
                u'0-3',          u'0-4',
       ...
                 u'IL',          u'KHL',          u'MLN',           u'NC',
                 u'NV',           u'ON',           u'PA',           u'QC',
                 u'SC',           u'WI'],
      dtype='object', length=187)

In [77]:
# Decision tree classification (Single task)
from sklearn import tree

y = train_set['target']
X = train_set.drop(['target'], axis=1)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

# Testing

y_test = test_set['target']
X_test = test_set.drop(['target'], axis=1)

clf.score(X_test, y_test)

0.46087191984836179

In [32]:
# Multiclass Logistic Regression
from sklearn.linear_model import LogisticRegression

y = train_set['target_top']
X = train_set.drop(['target_top'], axis=1)

lreg = LogisticRegression(penalty='l2', solver='lbfgs', multi_class='multinomial')
clf = lreg.fit(X, y)

# Testing

y_test = test_set['target_top']
X_test = test_set.drop(['target_top'], axis=1)

lreg.score(X_test, y_test)

0.74735449735449733

In [ ]:
%%time
# SVC multiclassifier from scikit learn

from sklearn.multiclass import OneVsRestClassifier
from sklearn import svm
from sklearn.preprocessing import label_binarize

# Binarize the output
y_bin = label_binarize(y, classes=classes_s)
y_test_bin = label_binarize(y_test, classes=classes_s)
n_classes = y_bin.shape[1]

classifier = OneVsRestClassifier(svm.SVC(kernel='linear'))
classifier_ = classifier.fit(X, y_bin)
Y_score = classifier_.decision_function(X_test)

In [83]:
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc

# Compute ROC curve and ROC area for each class
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(n_classes):
    fpr[i], tpr[i], _ = roc_curve(y_test_bin[:, i], y_score[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Compute micro-average ROC curve and ROC area
fpr["micro"], tpr["micro"], _ = roc_curve(y_test_bin.ravel(), y_score.ravel())
roc_auc["micro"] = auc(fpr["micro"], tpr["micro"])

# Plot ROC curve
plt.figure()
plt.plot(fpr["micro"], tpr["micro"],
         label='micro-average ROC curve (area = {0:0.2f})'
               ''.format(roc_auc["micro"]))
for i in range(n_classes):
    plt.plot(fpr[i], tpr[i], label='ROC curve of class {0} (area = {1:0.2f})'
                                   ''.format(i, roc_auc[i]))

plt.plot([0, 1], [0, 1], 'k--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Some extension of Receiver operating characteristic to multi-class')
plt.legend(loc="lower right")
plt.show()

[22,
 22,
 25,
 25,
 25,
 22,
 25,
 22,
 35,
 22,
 22,
 23,
 9,
 15,
 15,
 25,
 35,
 15,
 23,
 22,
 9,
 22,
 22,
 15,
 25,
 23,
 22,
 25,
 25,
 9,
 23,
 25,
 23,
 25,
 15,
 23,
 23,
 22,
 15,
 35,
 35,
 22,
 25,
 22,
 22,
 23,
 25,
 35,
 25,
 25,
 23,
 22,
 22,
 22,
 37,
 23,
 9,
 35,
 17,
 25,
 22,
 35,
 25,
 25,
 23,
 22,
 25,
 22,
 9,
 17,
 35,
 25,
 25,
 25]

For the class 'American (Traditional)', 43% of the data in the test set is positive and we get an accuracy of 72% with the logistic regression and of 69% with a decision tree.

In [220]:
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt

y_pred = lreg.predict(X_test)

fpr, tpr, _ = roc_curve(y_test, y_pred)
roc_auc = auc(fpr, tpr)

# Plot of a ROC curve for a specific class
plt.figure()
plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], 'k--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic example')
plt.legend(loc="lower right")
plt.show()

In [218]:
y_pred[:10]

array([ True, False,  True,  True, False,  True, False,  True,  True, False], dtype=bool)

In [219]:
y_test[:10]

4      True
15    False
18     True
24     True
29     True
31     True
41    False
48    False
60     True
71    False
Name: target, dtype: bool